
    <!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      LayerSlider start

      //-->
      <section class="envor-section envor-home-slider">
                  <div id="envor-home-images" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#envor-home-images" data-slide-to="0" class="active"></li>
                      <li data-target="#envor-home-images" data-slide-to="1"></li>
                      <li data-target="#envor-home-images" data-slide-to="2"></li>
                      <li data-target="#envor-home-images" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <a href="/Business/ywztxx" ><img src="img/ywztxx.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="/Business/yyztxx" ><img src="img/yyztxx.png" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="/Business/ymyd" ><img src="img/ymyd.png" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="img/slider-bg.jpg" ><img src="img/yunxiao.png" alt=""></a>
                      </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#envor-home-images" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#envor-home-images" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
      <!--

      LayerSlider end

      //-->
      </section>

      
      <!--

      Call To Action start

      //-->
      <section class="envor-section envor-section-st1 envor-section-align-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>认识 <strong>我们</strong> - <span>华樾</span> 品牌诠释</h2>
              <p>“华”是中国、中华的意思；“樾”是指大的树荫，有两个引申义：一是龙栖息的地方，二是庇护子孙后代。我们基本的愿望是能够为所有优秀员工提供体面生活的条件，大家以共同的理想和价值观走到一起，改变我们所能改变的，做符合教育规律的事，做对国家、未来、子孙后代有意义的事，希望能够达到更高的理想，成就造福子孙后代的事业。未来随着“华樾教育”的国际化，华、龙这些符号也代表着我们的传统文化，表明我们是中国企业。</p>
            </div>
          </div>
        </div>
      <!--

      Call To Action end

      //-->
      </section>
      <!--

      Latest News & Testimonials start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Latest News start

            //-->
            <div class="col-lg-12">
              <h2><strong>最新动态</strong></h2>
              <div class="envor-relative" id="latest-news">
                <!--

                Latest News Item start

                //-->
                <article class="envor-post-preview envor-padding-left-30">
                  <div class="envor-post-preview-inner">
                    <figure><img src="/img/article/201702271042.jpg" alt=""><figcaption><a href="/img/article/201702271042.jpg" class="colorbox" title="华樾教育名师工作站成立暨培训大会在京召开"><i class="fa fa-plus"></i></a></figcaption></figure>
                    <div class="header">
                      <div class="date">
                        <span class="day">19</span><span class="month">17年1月</span>
                      </div>
                      <a href="">华樾教育名师工作站成立暨培训大会在京召开</a>
                    </div>
                  </div>
                <!--

                Latest News Item end

                //-->
                </article>
                <!--

                Latest News Item start

                //-->
                <article class="envor-post-preview envor-padding-left-30">
                  <div class="envor-post-preview-inner">
                    <figure><img src="/img/article/201702271042.jpg" alt=""><figcaption><a href="/img/article/201702271042.jpg" class="colorbox" title="华樾教育名师工作站成立暨培训大会在京召开"><i class="fa fa-plus"></i></a></figcaption></figure>
                    <div class="header">
                      <div class="date">
                        <span class="day">19</span><span class="month">17年1月</span>
                      </div>
                      <a href="">华樾教育名师工作站成立暨培训大会在京召开</a>
                    </div>
                  </div>
                <!--

                Latest News Item end

                //-->
                </article>
                <!--

                Latest News Item start

                //-->
                <article class="envor-post-preview envor-padding-left-30">
                  <div class="envor-post-preview-inner">
                    <figure><img src="/img/article/201702271042.jpg" alt=""><figcaption><a href="/img/article/201702271042.jpg" class="colorbox" title="华樾教育名师工作站成立暨培训大会在京召开"><i class="fa fa-plus"></i></a></figcaption></figure>
                    <div class="header">
                      <div class="date">
                        <span class="day">19</span><span class="month">17年1月</span>
                      </div>
                      <a href="">华樾教育名师工作站成立暨培训大会在京召开</a>
                    </div>
                  </div>
                <!--

                Latest News Item end

                //-->
                </article>
                <!--

                Latest News Item start

                //-->
                <article class="envor-post-preview envor-padding-left-30">
                  <div class="envor-post-preview-inner">
                    <figure><img src="/img/article/201702271042.jpg" alt=""><figcaption><a href="/img/article/201702271042.jpg" class="colorbox" title="华樾教育名师工作站成立暨培训大会在京召开"><i class="fa fa-plus"></i></a></figcaption></figure>
                    <div class="header">
                      <div class="date">
                        <span class="day">19</span><span class="month">17年1月</span>
                      </div>
                      <a href="">华樾教育名师工作站成立暨培训大会在京召开</a>
                    </div>
                  </div>
                <!--

                Latest News Item end

                //-->
                </article>
                <!--

                Latest News Navigation start

                //-->
                <div class="envor-navigation envor-navigation-left rivaslider-navigation">
                  <a href="" class="back"><i class="glyphicon glyphicon-chevron-left"></i></a>
                  <a href="" class="forward"><i class="glyphicon glyphicon-chevron-right"></i></a>
                <!--

                Latest News Navigation end

                //-->
                </div>
              </div>
            <!--

            Latest News end

            //-->
            </div>
          </div>
        </div>
      <!--

      Latest News & Testimonials end

      //-->
      </section>

      <!--

      Toggle + Testimonials Style #3 start

      //-->
      <section class="envor-section envor-padding-top-0">
        <div class="container">
          <div class="row">
            <!--

            Toggle start

            //-->
            <div class="col-lg-6 col-md-6">
              <h2>我们能 <strong>提供什么</strong></h2>

              <div class="envor-toggle">
                <!--

                Toggle Item start

                //-->
                <article>
                  <header><i class="glyphicon glyphicon-pencil"></i> 语文主题学习 <i class="fa fa-plus"></i></header>
                  <p>“语文主题学习”实验是一套母语课程改革的整体解决方案。与以往所有教改实验不同，“语文主题学习”实验强调通过“课内大量阅读”来学好语文。可以这样说，凡是在课内进行大量阅读的语文教改实验，都叫“语文主题学习”实验。实验说法简单，做法也简单，就是学生在课堂1/3时间内学完教材，其余2/3的时间在教师的指导下自主、自由地阅读。</p>
                <!--

                Toggle Item end

                //-->
                </article>
                <!--

                Toggle Item start

                //-->
                <article>
                  <header><i class="glyphicon glyphicon-font"></i>英语主题学习 <i class="fa fa-plus"></i></header>
                  <p>“英语主题学习”通过互联网直播平台连线美国小学老师，中外教合力还原真实语言运用场景，打造原汁原味的原声输入互动式绘本阅读课堂；“英语主题学习”项目组由国内外资深英语教研专家引领，针对中国孩子英语能力水平和各年龄段小学生的认知特点，自主研发了《双线英语》主题阅读系列教材。该系列教材涵盖《义务教育英语课程标准》小学阶段的常见话题，每个话题对应一个绘本故事，故事的主题精准匹配新课标教材话题，通过立体场景巧妙复现核心句型，用图文并茂的方式，全力提升孩子们的英语阅读兴趣和文本解读技巧、启发英语阅读思维，助推全英文互动课堂内的自然语言习得。</p>
                <!--

                Toggle Item end

                //-->
                </article>
                <!--

                Toggle Item start

                //-->
                <article>
                  <header><i class="glyphicon glyphicon-heart"></i> 素养奠基课程 <i class="fa fa-plus"></i></header>
                  <p>素养奠基课程中心在学生发展核心素养框架指导下，借鉴国际先进理念和经验自主研发了一套素养奠基系统课程和与之配套的教师指导用书。课程共有七册，按照儿童不同时期的心理和行为发展特点，分别为《认识自己》、《尊重》、《关爱》、《责任》、《发现与探究》、《理性》和《责任》，涵盖了小学和初中两个阶段。中心还拥有实力雄厚的专家团队，在教师培训，教学指导和课程规划上给予支持。在此套课程基础上，素养教育课程中心还将研发系列主题活动，包括社交技能，职业启蒙，财经素养和科技创新等。</p>
                <!--

                Toggle Item end

                //-->
                </article>
                <!--

                Toggle Item start

                //-->
                <article>
                  <header><i class="glyphicon glyphicon-search"></i> 第三方教育诊断与评价 <i class="fa fa-plus"></i></header>
                  <p>基于第三方教育评价工具，构建科学、先进、可操作性强的评价体系，从第三方视角对整个区域内的教育发展现状进行全面深入的研究与分析，客观反映区域内中小学生学业质量、身心健康等方面的变化情况，深入分析影响区域教育质量的主要因素。</p>
                <!--

                Toggle Item end

                //-->
                </article>
                <!--

                Toggle Item start

                //-->
                <article>
                  <header> <i class="glyphicon glyphicon-book"></i> 一米阅读<i class="fa fa-plus"></i></header>
                  <p>一米阅读，一款阅读+互联网系统，为中小学生提供“选书—购书—读书—效果展示”的一站式服务，帮助中小学生养成阅读习惯；还为语文主题学习实验区的师生提供定制化的阅读测评服务，通过专业名师团队定制阅读测评，让学校、老师、家长可以更直观的了解学生的阅读进度、阅读疏漏，从而更有效的提高学生阅读能力。</p>
                <!--

                Toggle Item end

                //-->
                </article>

                <article>
                  <header><i class="glyphicon glyphicon-user"></i> 亲子教育 <i class="fa fa-plus"></i></header>
                  <p>以媒体+教育项目的方式，为中小学提供个性化的信息服务和学习解决方案，助推学校升级换代，推动实现理想的教育。其推出的“六个口袋”亲子阅读计划经过第一期的成功实践，并结合用户反馈迭代升级，正式更名为“安迪月读营”，让孩子与爱阅读的豚鼠安迪做朋友，用六个月时间产生受益一生的阅读兴趣，养成阅读习惯，提升阅读能力。</p>
                
              </div>
            <!--

            Toggle end

            //-->
            </div>
            <!--

            Testimonials Style #3 start

            //-->
            <div class="col-lg-6 col-md-6">
              <h2>我们的 <strong>客户评价</strong></h2>
              <div class="envor-relative" id="clients-testimonials">
                <!--

                Testimonials #2 Item start

                //-->
                <article class="envor-testimonials-2">
                  <div class="envor-testimonials-2-inner">
                    <p>读是一件很美好的事，我所理解的“语文主题学习”就是一位爱读书的老师带着一群孩子在书海里乘舟遨游，以“课内阅读、海量阅读”为帆，“一课一得”、各种课型为舵，驶向“语文素养”“终身受益”的彼岸——因此，我愿为之而不悔。</p>
                    <p class="author">- 江西省吉安市永丰县恩江二小 <span>吴晓蓉</span></p>
                    <i class="fa fa-quote-left"></i>
                    <i class="fa fa-quote-right"></i>
                    <div class="arrow"></div>
                  </div>
                <!--

                Testimonials #2 Item end

                //-->
                </article>
                <!--

                Testimonials #2 Item start

                //-->
                <article class="envor-testimonials-2">
                  <div class="envor-testimonials-2-inner">
                    <p>在使用绘本辅助教学的过程中，我发现绘本就如语文教学中的课外阅读般。它不仅使英语课堂更具有趣味性，而且可以使孩子明白英语知识的实在性和现实性。他们接触到的英语知识，不再是纯粹的文字，而是一段段生动活泼的故事情节，是一串串美丽的生活环节。绘本的配合使用，使英语教学更具有现实性。在小学英语教学使用绘本教学有利于激发和维持学生的学习兴趣。小学生生性好动，好奇心强，对新鲜事物有浓厚兴趣，绘本具有生动的人物形象和跌宕起伏的情节。</p>
                    <p class="author">- 湖南新田一小, <span>张雪莲老师</span></p>
                    <i class="fa fa-quote-left"></i>
                    <i class="fa fa-quote-right"></i>
                    <div class="arrow"></div>
                  </div>
                <!--

                Testimonials #2 Item end

                //-->
                </article>
                <!--

                Testimonials #2 Item start

                //-->
                <article class="envor-testimonials-2">
                  <div class="envor-testimonials-2-inner">
                    <p>通过素养奠基课程这项实验的培训培养我们认识到，这项实验对于孩子们社会责任感的增强，社会实践能力的培养，素质的全面提升很有好处，通过一年的努力，我们发现孩子们的视野开阔了，自信心增强了，真的像小大人了，向合格小公民的方向发展，实验研究永远在路上，在这项实验上今后我们将继续努力，我们也坚信我们将收获更多的惊喜与丰硕成果。</p>
                    <p class="author">- 阿鲁科尔沁旗天山二小 <span>张丽辉校长</span></p>
                    <i class="fa fa-quote-left"></i>
                    <i class="fa fa-quote-right"></i>
                    <div class="arrow"></div>
                  </div>
                <!--

                Testimonials #2 Item end

                //-->
                </article>
                <!--

                Testimonials #2 Item start

                //-->
                <article class="envor-testimonials-2">
                  <div class="envor-testimonials-2-inner">
                    <p>“一米阅读”走进我们师生的生活，让曾经耗时耗力检测孩子们读书情况的老师们得以轻松；让读书不求甚解、囫囵吞枣的孩子们开始认真阅读，细细品味。一米阅读的检测内容成了孩子们课余时间的谈资。一米阅读为孩子们开辟了阅读的新天地！感谢华樾老师们的辛勤付出！</p>
                    <p class="author">- 临河回校, <span>于奉灵</span></p>
                    <i class="fa fa-quote-left"></i>
                    <i class="fa fa-quote-right"></i>
                    <div class="arrow"></div>
                  </div>
                <!--

                Testimonials #2 Item end

                //-->
                </article>
                
                <!--

                Testimonials #2 Item controls

                //-->
                <div class="envor-controls envor-controls-left rivaslider-controls"></div>
              </div>
            <!--

            Testimonials #2 end

            //-->
            </div>
          </div>
        </div>
      <!--

      Toggle + Testimonials Style #3 end

      //-->
      </section>

     