<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <p>&nbsp;</p>
              <p>原点教育·第三方评价中心成立于2008年，是华樾（北京）教育科学研究院核心科研咨询部门。中心坚持以“行动研究”为核心，引入先进教育理念，在“理想学校”理念指导下，研发第三方教育评价工具，用专业的方法、客观的视角和深入的分析，为全国数千家教育主管部门及中小学的教育变革与管理转型提供数据与智力保障。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/dsfjyzdypj1.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>基于第三方教育评价工具，构建科学、先进、可操作性强的评价体系，从第三方视角对整个区域内的教育发展现状进行全面深入的研究与分析，客观反映区域内中小学生学业质量、身心健康等方面的变化情况，深入分析影响区域教育质量的主要因素。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/dsfjyzdypj2.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>以第三方教育评价体系为工具，为区域制定具有前瞻性、适切性及可操作性的中长期教育事业发展规划。明确区域教育战略实施路径，实现区域教育可持续发展。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/dsfjyzdypj3.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>原点教育致力于协助教育主管部门进行校长职级制的创新性研究与实践，将第三方评价工具应用于校长职级制建设工作中，以校长队伍素质提升带动区域教育现代化、高品质、高品位发展。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/dsfjyzdypj4.png" alt=""></figure>
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/ywztxx"><i class="glyphicon glyphicon-folder-open"></i> 语文主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/yyztxx"><i class="glyphicon glyphicon-folder-open"></i> 英语主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/sydjkc"><i class="glyphicon glyphicon-folder-open"></i> 素养奠基课程</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/ymyd"><i class="glyphicon glyphicon-folder-open"></i> 一米阅读</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/qzjy"><i class="glyphicon glyphicon-folder-open"></i> 亲子教育</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   