<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <figure><img src="/img/business/tzl1.jpg" alt=""></figure>
              <p>&nbsp;</p>
              <p>北京天真蓝教育传媒致力于：以媒体+教育项目的方式，为中小学提供个性化的信息服务和学习解决方案，助推学校升级换代，推动实现理想的教育。其推出的“六个口袋”亲子阅读计划经过第一期的成功实践，并结合用户反馈迭代升级，正式更名为“安迪月读营”，让孩子与爱阅读的豚鼠安迪做朋友，用六个月时间产生受益一生的阅读兴趣，养成阅读习惯，提升阅读能力。</p>
              <blockquote>“安迪月读营”是一款基于家校合作的阅读产品，提供有效工具和方法，一站式解决“读什么”“怎么读”和“读得怎么样”等问题。

“安迪月读营”以培养阅读兴趣、阅读习惯为主要目标，立足呵护、激发儿童思考力、表达力、想象力和创造力，以“阅读+活动课程”的方式，连接儿童的学习与生活，帮助儿童在生活中阅读，在阅读中成长。

“安迪月读营”倡导以家校合作的方式推动亲子共读，发挥老师的引领和同伴的影响，帮助家长克服惰性，享受共读时光，成为老师们志同道合的阅读同盟。</blockquote>
            <img src="/img/business/tzl2.jpg" alt="">
            <figure><img src="/img/business/tzl3.jpg" alt=""></figure>
            <p><strong>导读书：</strong>跟随超能力安迪，开启六大主题的阅读冒险之旅，从一个故事进入又一个故事。</p>
            <p><strong>直播课程：</strong>专业的阅读指导，启发式话题讨论。不止于完成一本书的阅读，更是提供一种有效阅读的新思维和新方法。</p>
            <p><strong>实践活动：</strong>以开放式话题讨论提高儿童思考能力，用趣味实践活动锻炼儿童解决问题能力。</p>
            <p><strong>阅读测评：</strong>过程跟踪+效果检测+成绩激励+激发潜能</p>
            <img src="/img/business/tzl4.jpg" alt="">
            <h3>安迪月读营核心特色是什么？</h3>
            <h4>1、可爱的虚拟阅读伙伴</h4>
            <p>“安迪月读营”原创故事导读书“安迪故事大冒险”系列，用趣味故事为小读者塑造了一个可爱的伙伴——小豚鼠安迪，带领孩子们一起进入美妙的阅读世界。</p>
            <img src="/img/business/tzl6.jpg" alt="">
            <h4>2、连接阅读与生活的课程设置</h4>
            <p>“安迪月读营”基于儿童生活经验，设计了一些列有益、有趣的阅读活动，让孩子们在生活中阅读、在阅读中成长。</p>
            <h3>“安迪月读营”课程设置</h3>
            <img src="/img/business/tzl5.jpg" alt="">
            <h3>加入“安迪月读营”你将获得什么？</h3>
            <h4>家庭</h4>
            <ul>
              <li>有规划、可操作、针对性强的阅读服务</li>
              <li>亲密融洽的亲子共读之旅</li>
              <li>阅读理念、方法的更新换代</li>
              <li>孩子阅读兴趣、阅读习惯的养成与提升</li>
              <li>孩子因为阅读而改变的惊喜</li>
              <li>与其他家长相互激励、交流、分享的乐趣</li>
            </ul> 
            <h4>教师</h4>
            <ul>
              <li>阅读专家们的专业指导</li>
              <li>简易、课操作的班级阅读活动方案</li>
              <li>班级学生阅读水平、学习能力的整体提升</li>
              <li>更多的学习、交流机会</li>
              <li>对家长的影响引领更有效</li>
            </ul>
            <h4>学校</h4>
            <ul>
              <li>更多专家资源支持书香校园建设</li>
              <li>通过阅读提升办学内涵与学校品牌</li>
              <li>借助多元平台扩大学校的知名度与影响力</li>
              <li>更加融洽的家校关系</li>
            </ul>
            <h3>“安迪月读营”顾问专家团队</h3>
            <img src="/img/business/tzl7.jpg" alt="">
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/ywztxx"><i class="glyphicon glyphicon-folder-open"></i> 语文主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                    <small>Cras facilisis diam sit amet.</small>
                  </li>
                  <li>
                    <p><a href="/Business/yyztxx"><i class="glyphicon glyphicon-folder-open"></i> 英语主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                    <small>Integer ante velit, tempus eu libero id.</small>
                  </li>
                  <li>
                    <p><a href="/Business/sydjkc"><i class="glyphicon glyphicon-folder-open"></i> 素养奠基课程</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                    <small>Sed feugiat purus eu diam.</small>
                  </li>
                  <li>
                    <p><a href="/Business/dsfjyzdypj"><i class="glyphicon glyphicon-folder-open"></i> 第三方教育诊断与评价</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                    <small>Nunc pretium lorem ullamcorper tincidunt.</small>
                  </li>
                  <li>
                    <p><a href="/Business/ymyd"><i class="glyphicon glyphicon-folder-open"></i> 一米阅读</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                    <small>Vestibulum placerat, nulla eu molestie.</small>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   