<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <p>&nbsp;</p>
              <p>用课程为学生的学习奠基，为下一学段奠基，为人生幸福奠基！</p>
              <figure><img src="/img/business/sydjkc1.png" alt=""></figure>
              <p>原点教育·素养奠基课程中心，是华樾教育集团旗下为推动青少年为未来而准备的研发运营机构。中心致力于研发和实践最高质量的体验性课程，全面提升学生的品格、创造力和领导力。在此理念基础上，素养奠基课程最为显著的两个特点是：1）以生活为教学现场、2）变革课堂教学与学习方式。让学生在感悟、体验、实践，思考中发现生活、研究生活、创造生活，让学生在行动中成长。</p>
              <figure><img src="/img/business/sydjkc2.png" alt=""></figure>
              <p>素养奠基课程中心在学生发展核心素养框架指导下，借鉴国际先进理念和经验自主研发了一套素养奠基系统课程和与之配套的教师指导用书。课程共有七册，按照儿童不同时期的心理和行为发展特点，分别为《认识自己》、《尊重》、《关爱》、《责任》、《发现与探究》、《理性》和《责任》，涵盖了小学和初中两个阶段。中心还拥有实力雄厚的专家团队，在教师培训，教学指导和课程规划上给予支持。在此套课程基础上，素养教育课程中心还将研发系列主题活动，包括社交技能，职业启蒙，财经素养和科技创新等。</p>
              <figure><img src="/img/business/sydjkc4.png" alt=""></figure>
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/ywztxx"><i class="glyphicon glyphicon-folder-open"></i> 语文主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                    <small>Cras facilisis diam sit amet.</small>
                  </li>
                  <li>
                    <p><a href="/Business/yyztxx"><i class="glyphicon glyphicon-folder-open"></i> 英语主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                    <small>Integer ante velit, tempus eu libero id.</small>
                  </li>
                  <li>
                    <p><a href="/Business/dsfjyzdypj"><i class="glyphicon glyphicon-folder-open"></i> 第三方教育诊断与评价</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                    <small>Sed feugiat purus eu diam.</small>
                  </li>
                  <li>
                    <p><a href="/Business/ymyd"><i class="glyphicon glyphicon-folder-open"></i> 一米阅读</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                    <small>Nunc pretium lorem ullamcorper tincidunt.</small>
                  </li>
                  <li>
                    <p><a href="/Business/qzjy"><i class="glyphicon glyphicon-folder-open"></i> 亲子教育</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                    <small>Vestibulum placerat, nulla eu molestie.</small>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   