<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <p>&nbsp;</p>
              <p>一米阅读，一款阅读+互联网系统，为中小学生提供“选书—购书—读书—效果展示”的一站式服务，帮助中小学生养成阅读习惯；还为语文主题学习实验区的师生提供定制化的阅读测评服务，通过专业名师团队定制阅读测评，让学校、老师、家长可以更直观的了解学生的阅读进度、阅读疏漏，从而更有效的提高学生阅读能力。</p>
              <h4>一起读书功能</h4>
              <p>“一起读书”是一米阅读在2016年暑期推出的针对于课外图书的线上同读一本书活动</p>
              <figure><img src="/img/business/ymyd1.png" alt=""></figure>
              <ul>
                <li>1.  【我记】记录读书感受、读书心得；</li>
                <li>2.  【我答】回答每日官方推送的阅读讨论问题；</li>
                <li>3.  【我问】提出自己读书中不懂疑问与全国的中小学生一起讨论；</li>
                <li>4.  【有声书】一起读书活动设有有声书可以在线听；</li>
                <li>5.  【我要闯关】可以参加答题闯关以此来展示自己的读书效果。</li>
              </ul> 
              <h4>阅读测评功能</h4>
              <p>1.  让校方可以 打造可量化的书香校园 </p>
              <img src="/img/business/ymyd2.png" alt="" />
              <ul>
                <li>掌握学生整体阅读量和阅读成绩</li>
                <li>了解语文老师教学效果</li>
                <li>对比本校与区域阅读数据</li>
              </ul>
              <p>2. 让老师可以 阅读教学不盲目</p>
              <ul>
                <li>检查学生读没读、读得好不好</li>
                <li>随时掌握学生阅读量</li>
                <li>发现学生阅读中的弱点</li>
              </ul>
              <p>3. 让家长可以 陪伴孩子阅读，关注孩子成长</p>
              <img src="/img/business/ymyd3.png" alt="" />
              <ul>
                <li>了解孩子的阅读任务</li>
                <li>查看孩子的阅读成绩</li>
                <li>见证孩子阅读量、阅读速度、阅读能力的提升</li>
              </ul>
              <p>4. 让学生可以 养成阅读好习惯</p>
              <ul>
                <li>记录自己的阅读字数和阅读成绩</li>
                <li>了解自己阅读时易犯的错误</li>
                <li>发现身边的阅读高手</li>
              </ul>
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/ywztxx"><i class="glyphicon glyphicon-folder-open"></i> 语文主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/yyztxx"><i class="glyphicon glyphicon-folder-open"></i> 英语主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/sydjkc"><i class="glyphicon glyphicon-folder-open"></i> 素养奠基课程</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/dsfjyzdypj"><i class="glyphicon glyphicon-folder-open"></i> 第三方教育诊断与评价</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                  </li>
                  <li>
                    <p><a href="/Business/qzjy"><i class="glyphicon glyphicon-folder-open"></i> 亲子教育</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   