<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <p>&nbsp;</p>
              <p>“语文主题学习”实验是一套母语课程改革的整体解决方案。与以往所有教改实验不同，“语文主题学习”实验强调通过“课内大量阅读”来学好语文。可以这样说，凡是在课内进行大量阅读的语文教改实验，都叫“语文主题学习”实验。实验说法简单，做法也简单，就是学生在课堂1/3时间内学完教材，其余2/3的时间在教师的指导下自主、自由地阅读。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/ywztxx.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>实验积极倡导转变传统低效的教学方式，依据“三讲”（ 教师集中精力讲学生在学习过程中易混的、易错的、易漏的，讲学生想不到、想不深、想不透的，讲学生自己难以解决的）、“三不讲”（ 学生已会的不讲，自己能学会的不讲，讲了学生也不会的不讲）的教学原则，实现高效课堂的目标。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/ywztxx2.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>实验最初采取的是针对一般学校、一般学生、一般师资情况下都能适用的语文教学方式。实验源自教学一线，经过多年发展，积累了丰富的实践经验，在众多专家、学者的指导下，实验的语文教学方式有了更大范围的适应性</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/ywztxx3.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>从2006年启动以来，实验得到广大教育同仁的认可，迅速在全国各地开展起来。从风筝之都潍坊到历史文化古都安阳，从长白山下的抚松到南渡河畔的海口，从黄土高原的榆林到改革开放之窗的深圳……凭借出色的效果，实验正在越来越多的地方生根、发芽、开花、结果。截至2016年12月，实验在全国已有80多个实验区，5000多所实验校，影响遍及20多个省（市、自治区）。</p>
              <p>&nbsp;</p>
              <figure><img src="/img/business/ywztxx4.png" alt=""></figure>
              <p>&nbsp;</p>
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/yyztxx"><i class="glyphicon glyphicon-folder-open"></i> 英语主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                    <small>Cras facilisis diam sit amet.</small>
                  </li>
                  <li>
                    <p><a href="/Business/sydjkc"><i class="glyphicon glyphicon-folder-open"></i> 素养奠基课程</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                    <small>Integer ante velit, tempus eu libero id.</small>
                  </li>
                  <li>
                    <p><a href="/Business/dsfjyzdypj"><i class="glyphicon glyphicon-folder-open"></i> 第三方教育诊断与评价</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                    <small>Sed feugiat purus eu diam.</small>
                  </li>
                  <li>
                    <p><a href="/Business/ymyd"><i class="glyphicon glyphicon-folder-open"></i> 一米阅读</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                    <small>Nunc pretium lorem ullamcorper tincidunt.</small>
                  </li>
                  <li>
                    <p><a href="/Business/qzjy"><i class="glyphicon glyphicon-folder-open"></i> 亲子教育</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                    <small>Vestibulum placerat, nulla eu molestie.</small>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   