<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>业务体系</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索的内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%- title %> 
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i><a href="#">业务体系</a><i class="fa fa-angle-double-right"></i><%-title %>
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <!--

            Content Section start

            //-->
            <div class="col-lg-9">
              <h2 class="align-left"> <strong><%- title %></strong> </h2>
              <figure><img src="/img/business/yyztxx1.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>“英语主题学习”是北京华樾教育服务基础教育领域、推动中小学英语课程改革的英语阅读教学整体解决方案。</p>
              <figure><img src="/img/business/yyztxx2.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>“英语主题学习”通过互联网直播平台连线美国小学老师，中外教合力还原真实语言运用场景，打造原汁原味的原声输入互动式绘本阅读课堂；“英语主题学习”项目组由国内外资深英语教研专家引领，针对中国孩子英语能力水平和各年龄段小学生的认知特点，自主研发了《双线英语》主题阅读系列教材。该系列教材涵盖《义务教育英语课程标准》小学阶段的常见话题，每个话题对应一个绘本故事，故事的主题精准匹配新课标教材话题，通过立体场景巧妙复现核心句型，用图文并茂的方式，全力提升孩子们的英语阅读兴趣和文本解读技巧、启发英语阅读思维，助推全英文互动课堂内的自然语言习得。</p>
              <figure><img src="/img/business/yyztxx3.png" alt=""></figure>
              <p>&nbsp;</p>
              <p>“英语主题学习”延伸了课内资源，通过平台的方式提供课前预习立体动画、课后拓展主题阅读；同时，组建了由北美小学资深教师、国内优秀英语教研专家及一线骨干教师组成的专业教师培训团队，定期举办丰富的校际观摩研讨活动，对实验校进行全程跟踪指导服务。</p>
              <figure><img src="/img/business/yyztxx4.png" alt=""></figure>
            <!--

            Content Section end

            //-->
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>更多 <strong>业务体系</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href="/Business/ywztxx"><i class="glyphicon glyphicon-folder-open"></i> 语文主题学习</a> <a href=""><i class="fa fa-rss"></i></a> <span>1</span></p>
                    <small>Cras facilisis diam sit amet.</small>
                  </li>
                  <li>
                    <p><a href="/Business/sydjkc"><i class="glyphicon glyphicon-folder-open"></i> 素养奠基课程</a> <a href=""><i class="fa fa-rss"></i></a> <span>2</span></p>
                    <small>Integer ante velit, tempus eu libero id.</small>
                  </li>
                  <li>
                    <p><a href="/Business/dsfjyzdypj"><i class="glyphicon glyphicon-folder-open"></i> 第三方教育诊断与评价</a> <a href=""><i class="fa fa-rss"></i></a> <span>3</span></p>
                    <small>Sed feugiat purus eu diam.</small>
                  </li>
                  <li>
                    <p><a href="/Business/ymyd"><i class="glyphicon glyphicon-folder-open"></i> 一米阅读</a> <a href=""><i class="fa fa-rss"></i></a> <span>4</span></p>
                    <small>Nunc pretium lorem ullamcorper tincidunt.</small>
                  </li>
                  <li>
                    <p><a href="/Business/qzjy"><i class="glyphicon glyphicon-folder-open"></i> 亲子教育</a> <a href=""><i class="fa fa-rss"></i></a> <span>5</span></p>
                    <small>Vestibulum placerat, nulla eu molestie.</small>
                  </li>
                </ul>
              </div>
            </aside>
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
   