 <!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>加入我们</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i>加入我们
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i>加入我们
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section envor-single-page">
        <div class="container">
          <div class="row">
            <!--

            Side Navigation

            //-->
            <div class="col-lg-3 col-md-3">
              <nav class="envor-side-navi">
                <ul>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#zpzy">招聘专员</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#pxzy">培训专员</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#swsj">商务司机</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#jycpzy">教育测评专员</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#jycpzg">教育测评主管</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#xmjl">项目经理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#ywzl">印务助理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#ywcjbj">语文初级编辑</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#ywjczsbj">语文教材资深编辑</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#xszy">销售专员</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#qyjl">区域经理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#dqjl">大区经理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#xszj">销售总监</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#msbj">美术编辑</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#xsxzzl">销售行政助理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#qdjl">渠道经理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#xsjl">销售经理</a></li>
                  <li><i class="glyphicon glyphicon-arrow-right"></i> <a href="#hychjl">会议策划经理</a></li>
                </ul>
              </nav>
            </div>
            <!--

            Partners List

            //-->
            <div class="col-lg-9 col-md-9">
              <h2 class="align-left">诚聘英才</h2>
              <p>华樾科学技术研究院是具有国际视野的，专注于K12基础教育领域，致力于推动区域教育发展提升，为教育行政部门、学校、师生提供高品质产品与服务的专业第三方教育机构。 经过十余年的发展，华樾教育的产品已涵盖课程（语文主题学习、英语主题学习、学科统整课程、素养奠基等课程产品）、教育咨询与评价、区域教育提升、学校打造与校长培养、亲子阅读等诸多领域。华樾教育下设母语课程研究中心、教育评价中心、教育发展中心等十几个中心，与众多国内外著名专家、学者、机构展开广泛合作。 华樾教育是践行和丰富理想学校理念的行动者，尽自己之力改变所能改变的，专注做我们擅长的事情，做符合教育规律的事，提供用户期盼的产品，成就大批遵循教育规律的名师、名校，办员工体面生活、幸福成长、受人尊敬的顶尖教育成果研发应用型企业。</p>
              <p>福利（1）入职不满一自然年的员工可享受：七险一金、带薪年假、个性化培训、年度旅游基金、过年过节费、生日红包、丰富的社团活动、咖啡时光、下午茶</p>
              <p>（2）满一自然年的员工可另享受：年度体检、春秋两季置装补助、年底双薪</p>
              <p>如果您有意加入我们，请将您的简历投递到：hr@joyschool.cn。我们收到您的简历后会尽快与您联系。</p>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="zpzy">
                <header>
                  <i class="fa fa-user"></i>
                  <small>行政中心</small>
                  <p>招聘专员</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 制定完善与招聘有关的流程、程序规章和规定；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 结合公司实际状况和岗位设置的情况，开发适合的招聘渠道；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 建立和更新公司人才储备资料库；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 定期更新内外网招聘信息，维护公司招聘网站；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 公司各项招聘活动的实施、协调和跟进工作；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 组织面试、笔试并保存相关资料和试卷；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 入职前的背景调查；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 安排候选人进行体检；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成领导安排的其他工作任务；</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 教育要求：本科及以上学历；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 工作经验：有一年以上招聘工作经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 培训经历：受过现代人力资源管理技术、劳动法律法规等方面的培训；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 熟悉计算机操作办公软件及相关的人事管理软件；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能力要求：具备很强的责任感和事业心；有较好的判断能力；性格外向，有良好的职业道德，擅于沟通与协调，良好的团队合作意识</li>
                    <li><i class="glyphicon glyphicon-check"></i> 富有热情、积极进取、坚韧不拔，具有较强的沟通影响力；深入了解企业文化及业务知识。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="pxzy">
                <header>
                  <i class="fa fa-user"></i>
                  <small>行政中心</small>
                  <p>培训专员</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 协助制定、完善公司的培训制度及相关细则，制定人才培养计划；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助对全员培训需求进行调研，对培训效果进行评估；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助组织实施各类培训活动；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助对各部门的内部培训给予指导；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助与外部培训机构或培训师建立并保持良好的关系；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责收集外部培训的各种信息；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责员工培训档案管理。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 人力资源管理或相关专业本科以上学历；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有较强的自我驱动力，学习能力强；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具备良好的沟通协调能力和组织能力；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 良好的人际关系能力以及团队合作精神；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具备较好的文字功底、熟练运用办公软件；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有培训方面发展意向的应届毕业生亦可。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="swsj">
                <header>
                  <i class="fa fa-user"></i>
                  <small>行政中心</small>
                  <p>商务司机</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 负责公司外事接送，给公司高管开车；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责公司车辆保养、维修和清洁工作；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助处理公司车辆保险、索赔、年检办理；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协助处理日常行政事务。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 年龄28-40岁，5年以上实际驾驶经验，驾驶技术娴熟，熟悉本地路况；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 无不良驾驶记录，无重大事故及交通违章，具有较强的安全意识；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 懂商务接待礼仪，具有一定的服务意识；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 为人踏实、老实忠厚，保密意识强、责任心强，能适应加班。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="jypczy">
                <header>
                  <i class="fa fa-user"></i>
                  <small>教育评价中心</small>
                  <p>教育测评专员</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 参与区域教育评估与发展规划项目；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 参与撰写相关研究分析报告；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 教育学、校长、教师、学生综合教育测评体系建立及工具研发。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 辅助完成教育学、家校协同等课题研究。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成领导交予的其他工作</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 教育管理、教育学、教育测量专业应、往届毕业生。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 热爱教育研究工作，能独立撰写工作方案并承担科研项目；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能独立查阅文献，对文献进行综合分析；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 熟练运用SPSS和office办公系统；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 英语CET六级以上，能看懂教育学及教育管理专业英语材料，进行综合分析.</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
               <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="jypczg">
                <header>
                  <i class="fa fa-user"></i>
                  <small>教育评价中心</small>
                  <p>教育测评主管</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 参与区域教育评估与发展规划项目；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 参与撰写相关研究分析报告；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 教育学、校长、教师、学生综合教育测评体系建立及工具研发。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 辅助完成教育学、家校协同等课题研究。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成领导交予的其他工作</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 教育管理、教育学、教育测量专业。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有教育测评方面相关工作经验。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 热爱教育研究工作，能独立撰写工作方案并承担科研项目；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能独立查阅文献，对文献进行综合分析；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 熟练运用SPSS和office办公系统；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 英语CET六级以上，能看懂教育学及教育管理专业英语材料，进行综合分析</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="xmjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>教育发展中心</small>
                  <p>项目经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 负责公司教育项目日常运营管理；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 落实项目计划，保证项目有序进行；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责项目实施的过程监控和结果监控；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 参与项目规划和方案制定；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 定期整理教师资源库；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成领导交办的其他工作。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 本科以上学历，具有良好的沟通协调能力，较强的执行力；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具有项目管理工作经验者优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 品德优秀，身体健康，心态积极，责任感强</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="ywzl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>印务助理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 下印制单、跟踪印制进度，成本核算及统计，质量控制。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 与各合作纸厂（商）、印厂对账、结算。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 与编辑等部门的衔接工作。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成上级领导交给的其它事务性工作。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 要有良好的沟通和协调能务，具有较强的服务意识。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 思路清晰、抗压能力强。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 年龄不限，男女不限，形象端正，印刷或营销专业者优先。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="ywcjbj">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>语文初级编辑</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 从事语文教育类图书的编辑和策划工作。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责出版图书内容审核和编辑加工。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 其他编辑类相关工作。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 全日制本科、研究生中文（汉语言文学）或相关专业毕业（应届生也可）；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有图书编辑工作经验者优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有小学语文教学经验和小学教材行业从业经历优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 语文知识牢固，保证稿件内容版式、格式、文字、逻辑的正确性，图书质量符合国家出版质量标准；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 思维敏捷，工作细致、认真、耐心。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 熟练应用office办公软件。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1"  id="ywjczsbj">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>语文教材资深编辑</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 能够独立进行中小学语文教材图书的选题策划与开发，完成资料查阅、采编、选题调研，稿件撰写、编辑、终审、修改和校对等工作；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 撰写策划报告，承担图书策划、组稿的整体工作，能够处理编校过程中出现的问题；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 有中小学语文教辅、图书领域从业经验者优先；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 拥有策划能力及编辑策划经验优先；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 较高的职业素养、敬业精神及团队精神，擅于沟通；</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 本科及以上学历；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 汉语言专业，文学类专业及相关专业优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 从事过童书出版、有语文教学经验者优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 较大的图书阅读量，具有良好的写作书评和宣传文案的能力 </li>
                    <li><i class="glyphicon glyphicon-check"></i> 良好的文字处理能力，熟悉编辑审校规范、熟悉教辅类图书编辑、制作流程。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="xszy">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>销售专员</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 根据公司的市场战略，负责各片区的市场拓展以及维护客户关系；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 为公司建立良好的业务体系和客户渠道，建立真实、准确的客户档案；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 在公司授权的范围内进行业务洽谈，完成销售所涉及的各种表格、合同，并协助财务部作好开发票、催款等后续工作；</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 2年以上销售工作经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 本科以上学历，专业不限。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能熟练使用办公软件。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具有良好的沟通能力和较强的协调能力。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="qyjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>区域经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 负责管辖区域内的客户开发与维护，销售方案的定制；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责辖区内重点实验区、重点实验校各项实验支持工作的联络和执行；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责辖区内实验区、实验校图书征订、回款、发放等工作的联络及执行。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 销售管理，统一协调客户沟通与信息收集，以及制订销售计划和执行；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 市场信息管理，专家对接。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 大学以上学历，专业不限，营销类专业优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有过教育行业和项目管理、销售类、市场类三年以上工作经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能适应一定频率的短期出差;</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有一定教育行业资源优先。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="dqjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>大区经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 巩固现有销售渠道，拓展新的销售渠道；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 完成部门分配的销售任务；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责区域内的各类活动与会议的申请与开展；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 对实验区（校）进行数据总结、分析，提取相应工作方案。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 本科及以上学历，营销类专业优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具备很强的逻辑思维能力、高效沟通能力与语言表达能力；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有过相关行业和项目管理、销售类、市场类三年以上的行业经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有一定教育行业资源优先。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="xszj">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>销售总监</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 带领团队完成销售工作目标、协助研究中心区域内各项活动与有效开展；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 开发责任区内的空白区域、开发新的销售渠道、开发责任区域以外的有资源的空白区域；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 制定工作计划、部门管理、员工培养及员工绩效考评。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 具备很强的逻辑思维能力、高效沟通能力与语言表达能力；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 做事认真负责，善于有效规划时间，能有效完成工作任务；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有一定教育行业资源优先。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="msbj">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>美术编辑</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 负责图书、报刊等装帧设计方案的创编和规划。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责图书、报刊等出版物的封面和版式设计，并最终定稿。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责卡片、信封、别册、海报、文案、报告等定制化产品和背景版、易拉宝等宣传品的设计制作。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责组织绘图人员绘制科学、美观、准确无误的插图，使书刊达到图文并茂的效果。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 在设计中与文字编辑合作完成整体编辑任务，保证编辑质量</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 艺术设计、美术或相关专业大专以上学历；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 熟练掌握photoshop、illustrator、indesign等设计排版软件，对图片图形具有快速鉴赏和处理能力。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具有3年以上图书美编或平面设计工作经验。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 思维开阔，有良好的美学修养和美术素养，具有创新能力</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="xsxzzl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>母语课程研究中心</small>
                  <p>销售行政助理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 制作销售合同、销售出库单等销售文件，负责发票邮寄跟进和催缴回款；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 跟踪销售合同执行情况，沟通协调发货和物流等事宜，并登记统计工作中的各类表格；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 统计销售相关的所有数据，并进行分析，制作例会PPT；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 作为销售前端与后台的联接枢纽，为区域销售人员提供支持；与销售及时沟通，配合销售人员的工作，确保整个销售过程通畅；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 合同，发货单，质检单等所有销售材料的分类、归档、保管；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 与财务对接销售过程中的往来账目，协调发货，授信等问题；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 安排发货及发货后事宜，与物流保持畅通；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 领导交办的其他工作。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 大学专科以上学历，专业不限。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能熟练使用办公软件。</li>
                    <li><i class="glyphicon glyphicon-check"></i> 具有良好的沟通能力和较强的协调能力。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="qdjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>外国语课程研究中心</small>
                  <p>渠道经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 制定代理商合作流程及合作方式的设计并进行试水；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 制订营销计划，并严格执行计划，完成业绩指标；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责沟通、接待、协助考查、谈判、签约促成代理商合作；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 定期与重要客户保持良好沟通，维护客户关系、确保合作合同签订与履行；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 协调本部门与合作伙伴的线上、线下的活动推广。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 有院校关系类、代理商加盟管理经验者优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有较强的人际沟通能力、项目协调及现场营运管理能力； </li>
                    <li><i class="glyphicon glyphicon-check"></i> 有过教育行业销售类三年以上工作经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能接受短期出差。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
              <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1"  id="xsjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>外国语课程研究中心</small>
                  <p>销售经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 英语项目销售管理，统一协调客户沟通与信息收集，以及制订销售计划和执行；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 学校开发与维护，省级、地市级大客户的沟通，方案定制；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 市场信息管理，形成有效的客户管理规范；</li>
                    <li><i class="glyphicon glyphicon-star"></i> 地方会议、校区活动策划、落地执行。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 大学以上学历，专业不限，英语专业和营销类专业优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有过教育行业B2B销售、渠道拓展类三年以上工作经验；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有项目业绩证明工作能力；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 能适应出差。</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
               <!--
              * Envor Career Item
              //-->
              <div class="envor-career-1" id="hychjl">
                <header>
                  <i class="fa fa-user"></i>
                  <small>外国语课程研究中心</small>
                  <p>会议策划经理</p>
                </header>
                <div class="details">
                  <p class="title">岗位职责:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-star"></i> 根据公司高层营销策略和目标，着手策划会议营销方案和计划、统筹与协调中心人员做好会议准备工作、组织与安排其他相关人员参与各种大小活动，帮助销售达成销售业绩。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 任会场总指挥，现场统筹讲师与主持人、会务团队、以及所有行政人员、营销相关负责人，保证各个环节按照方案有序进行。</li>
                    <li><i class="glyphicon glyphicon-star"></i> 负责会议营销活动的主讲、授课，做好公司企业和产品的宣传。 会议活动后期的总结与完善、视频的制作以及文件的存档。</li>
                  </ul>
                  <p class="title">任职资格:</p>
                  <ul class="e-color-list">
                    <li><i class="glyphicon glyphicon-check"></i> 有举办过教育相关会议经验者优先；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有很强的沟通协调能力，并具备一些主持功底；</li>
                    <li><i class="glyphicon glyphicon-check"></i> 有一定的销售意识，能很好的配合销售人员拓展市场；</li>
                  </ul>
                </div>
                <div class="ca-btn">
                  <a href="" class="envor-btn envor-btn-primary envor-btn-small show-details"><i class="fa fa-plus"></i> 详细说明</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
