<!--

      Call to action #3 start

      //-->
      <section class="envor-section envor-section-bg7" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!--

              start

              //-->
              <div class="envor-call-to-action-3">
                <img src="/img/shadow.png" alt="" class="shadow">
                <div class="row">
                  <!--

                  Text

                  //-->
                  <div class="col-lg-10">
                    <h2>我们的 <strong>愿景</strong> </h2>
                    <h3>创建一所员工幸福、客户惊喜、用户依赖的，服务于基础教育领域的，受人尊敬的专业教育机构。</h3>
                  </div>

                </div>
              <!--

              end

              //-->
              </div>
            </div>
          </div>
        </div>
      <!--

      Call to action #3 start

      //-->
      </section>
<!--

      Features start
      
      //-->
      <section class="envor-section">
        <div class="container">
          <h2>我们的 <strong>核心价值观</strong> </h2>
          <div class="row">
            <!--

            Feature

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
                <article class="envor-feature">
                  <div class="envor-feature-inner">
                  <header>
                    <i class="fa fa-heart"></i>
                    感恩
                  </header>
                  <p>感恩是一种不得了的修行。感恩是一种境界，更是一种行动。感恩就是即使对帮助过你的人表达谢意。感谢生活给予的一切，尤其要感谢那些使你成长的人。</p>
                  </div>
                </article>
            </div>
            <!--

            Feature

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
                <article class="envor-feature">
                  <div class="envor-feature-inner">
                  <header>
                    <i class="fa fa-share-alt"></i>
                    分享
                  </header>
                  <p>让员工愉悦地工作、幸福地生活。工资和奖金等待遇确保按规定和约定及时足额兑现，绝不拖欠；定期进行行业薪资调查，让全体员工的收入处于同行业较高水平；坚持发放效益奖，让员工分享组织发展的成果。</p>
                  </div>
                </article>
            </div>
            <!--

            Feature

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
                <article class="envor-feature">
                  <div class="envor-feature-inner">
                  <header>
                    <i class="fa fa-smile-o"></i>
                    个性化
                  </header>
                  <p></p>
                  </div>
                </article>
            </div>
            <!--

            Feature

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
                <article class="envor-feature">
                  <div class="envor-feature-inner">
                  <header>
                    <i class="fa fa-users"></i>
                    用心做事
                  </header>
                  <p>心态积极，相信办法总比困难多。世界上最远也是最近的距离就是知和行的距离。注重细节，精益求精，追求极致。一事精致，便能动人。</p>
                  </div>
                </article>
            </div>
            <!--

            Feature

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
                <article class="envor-feature">
                  <div class="envor-feature-inner">
                  <header>
                    <i class="fa fa-check"></i>
                    说到做到
                  </header>
                  <p></p>
                  </div>
                </article>
            </div>
          </div>
        </div>
      <!--

      Features end
      
      //-->
      </section>
