<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>企业简介</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i>企业简介
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i>企业简介
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Text start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <figure class="single"><img src="/img/about.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6">
              <h2>欢迎访问 <strong>华樾教育</strong> 官方网站</h2>
              <p>华樾教育是具有国际视野的，专注于基础教育领域，致力于推动区域教育发展提升，为教育行政部门、学校、师生提供高品质产品与服务的专业第三方教育机构。</p>
              <p>华樾教育是践行、丰富理想学校理念的行动者，尽自己之力改变所能改变的，专注做我们擅长的事情，做符合教育规律的事，提供用户期盼的产品，成就大批遵循教育规律的名师、名校，办员工体面生活、幸福成长、受人尊敬的顶尖教育成果研发应用型企业。</p>
              <p>经过十余年的发展，华樾教育的产品已涵盖课程（语文主题学习、英语主题学习、学科统整课程、素养奠基等课程产品）、教育咨询与评价、区域教育提升、学校打造与校长培养、亲子阅读等诸多领域。华樾教育下设母语课程研究中心、教育评价中心、教育发展中心等十几个中心，与众多国内外著名专家、学者、机构展开广泛合作，积极开展教育专业化服务。</p>
            </div>
          </div>
        </div>
      <!--

      Text end

      //-->
      </section>
      <!--

      Features #2 start

      //-->
      <section class="envor-section envor-section-align-center envor-section-st1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" style="margin-bottom:50px;">
              <h2>我们的 <strong>主要</strong> 产品特性</h2>
            </div>
            <!--
              
            Feature #2 Item start

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%;">
              <article class="envor-feature-3">
                <span><i class="glyphicon glyphicon-user"></i></span>
                <h3>个性化</h3>
                <p>&nbsp;</p>
              </article>
            <!--
              
            Feature #2 Item end

            //-->
            </div>
            <!--
              
            Feature #2 Item start

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
              <article class="envor-feature-3">
                <span><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <h3>促创新</h3>
                <p>&nbsp;</p>
              </article>
            <!--
              
            Feature #2 Item end

            //-->
            </div>
            <!--
              
            Feature #2 Item start

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
              <article class="envor-feature-3">
                <span><i class="glyphicon glyphicon-search"></i></span>
                <h3>追求极致</h3>
                <p>&nbsp;</p>
              </article>
            <!--
              
            Feature #2 Item end

            //-->
            </div>
            <!--
              
            Feature #2 Item start

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
              <article class="envor-feature-3">
                <span><i class="glyphicon glyphicon-file"></i></span>
                <h3>重研发</h3>
                <p>&nbsp;</p>
              </article>
            <!--
              
            Feature #2 Item end

            //-->
            </div>
            <!--
              
            Feature #2 Item start

            //-->
            <div class="col-lg-3 col-md-3 col-sm-6" style="width:20%">
              <article class="envor-feature-3">
                <span><i class="glyphicon glyphicon-heart"></i></span>
                <h3>惊喜服务</h3>
                <p>&nbsp;</p>
              </article>
            <!--
              
            Feature #2 Item end

            //-->
            </div>
          </div>
        </div>
      <!--

      Features #2 end

      //-->
      </section>
      
      <!--

      Our Team start

      //-->
      <section class="envor-section envor-section-align-center envor-section-bg10" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="white">我们的 <strong>专家</strong> 团队</h2>

              <div class="envor-relative" id="our-team">
                <!--

                Team Item start

                //-->
                <div class="envor-team-1 envor-padding-left-30">
                  <div class="envor-team-1-inner">
                    <header>
                      <figure><img src="/img/experts/xuebingqun.jpg" alt="薛炳群"></figure>
                      <div class="name">
                        <small>&nbsp;</small>
                        <p>薛炳群</p>
                      </div>
                    </header>
                    <div class="envor-team-1-details">
                      <p>山东省潍坊市教育科学研究院小学语文教研员。山东省特级教师，山东省教学能手，潍坊市专业技术拔尖人才（1998年至今，连续四届）。2009年在支援北川恢复重建中记市级三等功。现为中国教育学会会员，当代语文教学研究会理事，全国字理识字研究会常务理事，山东省小学语文教学研究会副秘书长，潍坊市专家协会会员，潍坊市人民政府督学。</p>
                    </div>
                  </div>
                <!--

                Team Item end
                
                //-->
                </div>
                <!--

                Team Item start

                //-->
                <div class="envor-team-1 envor-padding-left-30">
                  <div class="envor-team-1-inner">
                    <header>
                      <figure><img src="/img/experts/biyingchun.jpg" alt="毕英春"></figure>
                      <div class="name">
                        <small>&nbsp;</small>
                        <p>毕英春</p>
                      </div>
                    </header>
                    <div class="envor-team-1-details">
                      <p>寿光世纪学校小学语文教师、副校长。中学高级教师，山东省特级教师，齐鲁名师，山东省教学能手，山东省远程研修专家，山东省青语会副理事长。构建了“1+X单元授课教学”，该教学特色在《山东教育》《小学语文教学》《人民教育》上相继介绍。多次举行国家级、省级公开课，代表内地赴香港执教两岸四地阅读教学观摩课，出版个人专著《让语文焕发生命的光彩》。</p>
                    </div>
                  </div>
                <!--

                Team Item end
                
                //-->
                </div>
                <!--

                Team Item start

                //-->
                <div class="envor-team-1 envor-padding-left-30">
                  <div class="envor-team-1-inner">
                    <header>
                      <figure><img src="/img/experts/panjiyun.jpg" alt="潘继云"></figure>
                      <div class="name">
                        <small>&nbsp;</small>
                        <p>潘继云</p>
                      </div>
                    </header>
                    <div class="envor-team-1-details">
                      <p>中学高级教师， 寿光市教科研中心初中语文教研员。先后荣获潍坊市“十佳教师”、特级教师、教学能手、首届“潍坊名师”；寿光市“十佳班主任”、语文学科带头人、模范教师、优秀教师、寿光市专业技术拔尖人才、“十大职业道德建设标兵”等称号。曾获全国语文教材研讨会优质课一等奖，全国语文目标教学研讨会观摩课一等奖，全国信息技术与学科整合优质课大赛一等奖，所授《乡愁》教学录像在中国教育电视台展播。</p>
                    </div>
                  </div>
                <!--

                Team Item end
                
                //-->
                </div>
                <!--

                Team Item start

                //-->
                <div class="envor-team-1 envor-padding-left-30">
                  <div class="envor-team-1-inner">
                    <header>
                      <figure><img src="/img/experts/hanpeihua.jpg" alt="韩培华"></figure>
                      <div class="name">
                        <small>&nbsp;</small>
                        <p>韩培华</p>
                      </div>
                    </header>
                    <div class="envor-team-1-details">
                      <p>吉林省抚松县教师进修学校初中语文教研员、中教部主任，“张玉新导师工作室”成员，吉林省教育质量监测专家库成员，吉林省主题教研先进个人，吉林省“语文主题阅读”课题负责人。韩老师追求有情致的语文教育，倡导简约而雅致充盈语文主题阅读教学，多次到全国语文主题学习各实验区指导教师备课，所写文章《长白山脚下盛开阅读之花》、《主题学习为学生写作插上了腾飞的翅膀》等陆续在《吉林教育》《河南教育》等刊物发表。</p>
                      
                    </div>
                  </div>
                <!--

                Team Item end
                
                //-->
                </div>
                <!--

                Team Item navigation
                
                //-->
                <div class="envor-navigation envor-navigation-white rivaslider-navigation">
                  <a href="" class="back"><i class="glyphicon glyphicon-chevron-left"></i></a>
                  <a href="" class="forward"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--

      Our Team end

      //-->
      </section>
      <!--

      Partners start

      //-->
      <section class="envor-section envor-section-st1 envor-section-align-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>我们的 <strong>合作伙伴</strong></h2>
              <div class="envor-relative" id="our-partners">
                <div class="envor-partner-logo"><div class="inner"><img src="/img/partners/yimilan.jpg" alt="一米蓝"><span class="helper"></span></div></div>
                <div class="envor-partner-logo"><div class="inner"><img src="/img/partners/tianzhenlan.png" alt="天真蓝"><span class="helper"></span></div></div>
                <div class="envor-partner-logo"><div class="inner"><img src="/img/partners/yunxiao.jpg" alt="云校"><span class="helper"></span></div></div>
                <div class="envor-partner-logo"><div class="inner"><img src="/img/partners/yuanchuang.png" alt="源创图书"><span class="helper"></span></div></div>
                
                <!--
                * Our Partners Controls
                //-->
                <div class="envor-controls rivaslider-controls"></div>
              </div>
            </div>
          </div>
        </div>
      <!--

      Partners end

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
