<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>新闻中心</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i>新闻中心
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i>新闻中心
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9">
              <!--

              Post start

              //-->
              <article class="envor-post">
                <header>
                  <h3><i class="fa fa-quote-left"></i> <span>华樾教育名师工作站成立暨培训大会在京召开</span></h3>
                </header>
                <p>2017年2月18日，阳光明媚，春意盎然。2017年华樾教育名师工作站成立暨培训大会在北京隆重召开。北京华樾教育研究院副院长黎青山、教研总部主任陈文、课程研究室主任刘修勤、教师发展部主任毕英春、实验调研部主任潘继云以及300余名来自全国各地优秀名师参加了会议。</p>
                <img src="/img/article/201702271042.jpg" />
                <p>会议由课程发展总部主任刘汉涛主持。</p>
                <img src="/img/article/201702271134.jpg" />
                <h4>领导致辞</h4>
                <p>黎青山副院长在大会上宣读贺辞，并对前来参加“语文主题学习”实验名师工作站骨干成员培训的所有老师表示热烈欢迎。</p>
                <img src="/img/article/201702271135.jpg" />
                <p>“语文主题学习”实验走过了10年的历程，发展到现在5000多所中小学实验校，遍布全国各地，从中涌现出一批优秀的教研员和优秀的一线名师。组建中小学名师工作站正当其时，他强调要进一步理解和加深对这个实验理念的认识：这就是简简单单教语文，轻轻松松学语文，实实在在用语文。</p>
                <img src="/img/article/201702271137.jpg" />
                <h4>《名师工作站建设方案》讲解</h4>
                <p>建立名师工作站的目的是为老师们搭建专业成长平台，提升教学水平的同时更好的促进推动母语课程的改革。从实验区广大的教师中进行严苛遴选，目前，建立小学名师工作站28个，初中15个。为工作站成员每年免费提供两次专业培训，免费提供名家书籍，提供外出交流的机会，对成绩突出的老师开办推介会。</p>
                <img src="/img/article/201702271136.jpg" />
                <h4>《不同实验区支持方案》讲解</h4>
                <p>语文主题学习实验在全国呈燎原之势，离不开教研员的正确引领和名师的专业示范。为更好的促进母语课程改革，推动“语文主题学习”实验的开展，我们将“语文主题学习”实验分为三个阶段：实验初始阶段（第一年）、实验深入阶段（2—3年）、实验成熟阶段（4年以上），并根据实验各阶段发展状况提供相应的实验支持。</p>
                <img src="/img/article/201702271138.jpg" />
                <h4>培训内容布置</h4>
                <img src="/img/article/201702271139.jpg" />
                <h4>培训现场</h4>
                <p>培训采用分组形式进行，老师们交流热烈，围绕如何更好地在实验区推进“语文主题学习”实验，主题学习整合、课例整合策略等多方面进行深度研讨。</p>
                <img src="/img/article/201702271140.jpg" />
                <p>按照中小学分为小学低、中、高段、中学组以及主持人组共44小组。</p>
                <img src="/img/article/201702271141.jpg" />
                <p>老师们围绕培训内容展开讨论，小组内轮流分享着自己的报告与整合思路，互帮互助，补其差，表其足。专家轮桌交流，让老师们茅塞顿开。最终整合出架构完整，内容丰富，富有感染力的教学成果。</p>
                <h4>现场分享</h4>
                <img src="/img/article/201702271142.jpg" />
                <p>吉林白山抚松的韩培华老师分享主题单元整合思路及在当地推行“语文主题学习”实验的经验报告，在讲到如何开展实验以及如何推动实验的时候，还列举大量实例同老师们分享。</p>
                <img src="/img/article/201702271143.jpg" />
                <p>山东潍坊青州的董董老师给大家分享一套完整的七年级下册主题单元整合思路，与在座的老师进行探讨与交流。</p>
                <img src="/img/article/201702271144.jpg" />
                <p>深圳福田余云德老师分享参加“语文主题学习”实验后，给实验区的语文课堂带来明显的改变，课堂变得更活跃，教师更加热爱自己的语文事业。</p>
                <img src="/img/article/201702271145.jpg" />
                <p>这样精彩的分享在本次大会上还有很多场，小组讨论、总结然后提出分享。想听谁的报告，要听什么内容由老师们自己决定。</p>
                <img src="/img/article/201702271146.jpg" />
                <p>一天半的名师工作站骨干成员培训大会很快结束，老师们收获颇丰，此次培训明确了工作站的目标和使命，并对接下来的任务和重点工作都作出了详细计划。</p>
                <img src="/img/article/201702271147.jpg" />
                <p>培训过程中老师们有感而发：
“培训期间是紧张严肃的，但老师们的分享是丰富幽默的，这次培训提高了我对“语文主题学习”实验的理解，明确了单元整合的教学方法。”</p>
                <img src="/img/article/201702271148.jpg" />
                <p>“专家们的悉心指导、答疑解惑为我们指明了前进的方向，小组成员的交流分享、团结协作让我感受到柳暗花明又一村的喜悦。”</p>
                <img src="/img/article/201702271149.jpg" />
                <p>“一天的讨论与分享，让我对语文主题学习实验实施充满期待，对于曾经，我遗憾没有成为这一实验的受益人，但是以后，我将与学生一起因此收获满满。”</p>
                <img src="/img/article/201702271150.jpg" />
                <h4>工作站专项培训总结</h4>
                <p>教研总部陈文主任对此次名师工作站成立暨培训大会作出高度评价，并对工作站今后的工作提出明确要求与希望。语文老师要坚持我们能做的不随波逐流，回到母语学习的原点，回到实验的初衷。语文教师要不断提升自身的读写能力，要实实在在的引导学生在读书、写作上有所成就。语文学科是一门实践性非常强的学科，要时刻联系生活，务实求真做实验。</p>
                <img src="/img/article/201702271151.jpg" />
                <h4>精彩沙龙</h4>
                <p>在会议期间，研究院还为老师们举办了两场专题沙龙，“教师的阅读与写作”和“亲子阅读与语文教育”，有100多位老师参加讨论与交流，老师们针对主题畅所欲言。</p>
                <img src="/img/article/201702271152.jpg" />
                <p>源创图书出版人吴法源与老师们在“教师的阅读与写作”的沙龙上互动交流。</p>
                <img src="/img/article/201702271153.jpg" />
                <p>2017年华樾教育名师工作站成立暨培训大会圆满落幕，期待通过我们的努力，云集更多地实验区优秀的教研员和名师，集中培训、统一思想、规范做法，全力为刚加入实验的区校服务。</p>
                <p>&nbsp;</p>
                <div class="date">
                  <span class="day">19</span>
                  <span class="month">17年1月</span>
                </div>
                <div class="likes">
                  <span><i class="fa fa-eye"></i></span>
                  <span class="month">15 阅读</span>
                </div>
              <!--

              Post end

              //-->
              </article>
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3 col-md-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>新闻 <strong>类别</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 资讯</a> <a href=""><i class="fa fa-rss"></i></a> <span>16</span></p>
                  </li>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 实验动态</a> <a href=""><i class="fa fa-rss"></i></a> <span>21</span></p>
                  </li>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 观点</a> <a href=""><i class="fa fa-rss"></i></a> <span>7</span></p>
                  </li>
                </ul>
              </div>
            </aside>
            
            
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
