<!--

    Envor site content start

    //-->
    <div class="envor-content">
      <!--

      Page Title start

      //-->
      <section class="envor-page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h1>新闻中心</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <form class="search">
                <input type="text" placeholder="输入搜索内容...">
              </form>
            </div>
          </div>
        </div>
      <!--

      Page Title end

      //-->
      </section>
      <!--

      Desktop breadscrubs start

      //-->
      <section class="envor-desktop-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="envor-desktop-breadscrubs-inner">
                <a href="/">首页</a><i class="fa fa-angle-double-right"></i>新闻中心
              </div>
            </div>
          </div>
        </div>
      <!--

      Desktop breadscrubs end

      //-->
      </section>
      <!--

      Mobile breadscrubs start

      //-->
      <section class="envor-mobile-breadscrubs">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <a href="/">首页</a><i class="fa fa-angle-double-right"></i>新闻中心
            </div>
          </div>
        </div>
      <!--

      Mobile breadscrubs end

      //-->
      </section>
      <!--

      Main Content start

      //-->
      <section class="envor-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9">
              <!--

              Post start

              //-->
              <article class="envor-post">
                <header>
                  <h3><i class="fa fa-quote-left"></i> <span>临沂市中小学教育质量综合评价及学生课业负担监测解读报告会召开</span></h3>
                </header>
                <p>2月10日，由华樾(北京)教育科学研究院教育测评研究中心主持的临沂市中小学教育质量综合评价及学生课业负担监测项目解读报告会在临沂第一中学北校区召开。教育部基础教育课程教材发展中心评价处副处长张珊珊，临沂市人民政府副市长赵爱华，市教育局党委书记、局长尹传斌，华樾教育副院长纪砚秋、潘骁骐、韩杰梅，研究员刘诗洋、吴茂美等领导专家出席会议。</p>
                <img src="/img/article/201702281558.png" />
                <p>临沂市中小学教育质量综合评价及学生课业负担监测是一项系统性、长期性的工作。本次工作从2016年3月启动以来，持续一年，共分四期实施。采用三阶段分层不等概率抽样方法，抽取中小学生257660份，教师50926份，学生家长79069份。整个评价过程基本覆盖全市普通中小学校。</p>
                <p>临沂市教育局长尹传斌为报告会做开场介绍，陈景山副局长作为报告会主持人，详细介绍了本次报告会的内容和流程，以及对临沂市未来教育工作开展的意义。</p>
                <img src="/img/article/201702281559.png" />
                <p>会上，韩杰梅副院长利用大量监测数据，分析解读了临沂市中小学教育质量综合评价及学生课业负担监测结果，为来自教育部课程中心评价处的相关领导、临沂市主管教育副市长、临沂市教育局和各区县教育局的相关领导以及全市中心小学及以上学校校长共1000余人进行报告解读与分析，剖析临沂教育发展过程中的现象和问题。为进一步深化临沂基础教育改革，推动基础教育发展提供了科学依据。</p>
                <img src="/img/article/201702281557.png" />
                <p>张珊珊副处长对临沂教育工作和本次综合评价监测工作表示了充分肯定。她指出在区域教育质量综合评价方面，临沂市走在了全国前列，要充分发挥教育质量评价在教育综合改革中的关键作用。要将推进中小学教育质量综合评价改革，作为全面贯彻党的教育方针、全面实施素质教育、落实立德树人根本任务的重要举措。</p>
                <img src="/img/article/201702281560.png" />
                <p>赵爱华副市长对教育部门委托第三方专业机构在全市开展教育质量综合评价和学生课业负担监测的做法表示高度赞扬。她认为评价和监测结果是客观、科学、真实的，教育部门要按照上级部门的要求，认真贯彻落实国家有关政策，合理运用本次评价和监测结果，科学制定改进方案，深入推进基础教育综合改革，推动临沂市教育更好、更快的发展。</p>
                <img src="/img/article/201702281561.png" />
                <p>&nbsp;</p>
                <div class="date">
                  <span class="day">10</span>
                  <span class="month">17年2月</span>
                </div>
                <div class="likes">
                  <span><i class="fa fa-eye"></i></span>
                  <span class="month">15 阅读</span>
                </div>
              <!--

              Post end

              //-->
              </article>
            </div>
            <!--

            Right Sidebar start

            //-->
            <div class="col-lg-3 col-md-3">
            <!--

            Categories Widget

            //-->
            <aside class="envor-widget envor-category-widget">
              <h3>新闻 <strong>类别</strong></h3>
              <div class="envor-widget-inner">
                <ul>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 资讯</a> <a href=""><i class="fa fa-rss"></i></a> <span>16</span></p>
                  </li>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 实验动态</a> <a href=""><i class="fa fa-rss"></i></a> <span>21</span></p>
                  </li>
                  <li>
                    <p><a href=""><i class="glyphicon glyphicon-folder-open"></i> 观点</a> <a href=""><i class="fa fa-rss"></i></a> <span>7</span></p>
                  </li>
                </ul>
              </div>
            </aside>
            
            
            <!--

            Right Sidebar end

            //-->
            </div>
          </div>
        </div>
      <!--

      Main Content start

      //-->
      </section>
    <!--

    Envor site content end

    //-->
    </div>
